.grid-container {
  display: grid;
  grid-template-columns: auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto
  auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto ;
  background-color: #2196F3;
  width: fit-content; /*800x800*/
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  border: 2px solid rgba(0, 0, 0, 0.8);
}

.grid-item {
  background-color: rgba(255, 255, 255, 0.8);
  font-size: 10px;
  text-align: center;
  height: 30px;
  width: 30px;
  border: 2px solid rgba(0, 0, 0, 0.8);
}
/*
Abixo de 16::
height: 35px;
width: 35px;
Acima de 16:
height: 25px;
width: 25px;
Acima de 32:
height: 15px;
width: 15px;
  */

  /*Crop or not?*/
  /*Images size are changing with the maze, find a fix even if it is to put heigth and width in px*/
.first {
  background-color: rgb(255, 255, 255);
  background: rgb(255, 255, 255, 0.8) no-repeat;
  background-size:contain;
  background-image: url(start_cropped_image.png);
  background-position: center center;
}


.last { 
  background-color: rgb(0, 0, 0);
  background: rgb(255, 255, 255, 0.8) no-repeat;
  background-size:contain;
  background-image: url(goal_cropped_image.png);
  background-position: center center;
}

.solution {
  background-color: blue;
}

/*Real one in .first, appear with the solution showcase and hide with it, will be fine with the button mish mash
create the element in the solution showcase is best, just transfer from resize maze to the showcase
[id="2"]*/
#motion-demo {
  /*offset-path: path("M13,13 13,42.5 42.5,42.5 42.5,73 73,73 73,42.5 "); /*Original: path("M13,20 C20,100 200,0 200,100");*/
  /*M13,13 seems to put it in the middle of the cell. O formato são dos eixos X e Y*/
  animation: move 10000ms infinite linear ; /*No alternate*/
  width: 40px;
  height: 40px;
  height: 25px;
  width: 25px;
  background: no-repeat;
  background-image: url(cropped_Arrow.png);
  background-size: contain;
}

@keyframes move {
  0% {
    offset-distance: 0%;
  }
  100% {
    offset-distance: 100%;
  }
}

.Actions {
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  width: fit-content;
}

.Actions button {
  border-radius: 10px;
  margin: 5px;
}

header {
  margin-left: auto;
  margin-right: auto;
  width: fit-content;
  justify-content: center;
  align-items: center;
}

header h1 {
  display: inline;
  font-size: 3em;
}

header h1, h2{
  width: fit-content;
  margin: 10px auto;
}

.MazeSize {
  width: 40px;
}

/* From https://css-loaders.com/maze/ */
.loader {
  width: 70px;
  aspect-ratio: 2;
  background:
    radial-gradient(farthest-side,#fff 90%,#ffffff00) 0 0/8px 8px,
    linear-gradient(#000 0 0) 100% 0/30px 10px,
    linear-gradient(#000 0 0) 0 100%/30px 10px,
    repeating-linear-gradient(90deg,#000 0 10px,#ffffff00 0 30px);
    /* radial-gradient(farthest-side,#000 90%,#0000) 0 0/8px 8px,
    linear-gradient(#fff 0 0) 100% 0/30px 10px,
    linear-gradient(#fff 0 0) 0 100%/30px 10px,
    repeating-linear-gradient(90deg,#fff 0 10px,#0000 0 30px); */
  background-repeat: no-repeat;
  /* background-color: black;
  border: black 1px; */
  animation: l6 2s infinite;
  display: inline-block;
  margin-right: 15px;
}
@keyframes l6 {
  0%    {background-position:left 1px bottom 1px,100% 0,0 100%,0 0}
  12.5% {background-position:left 50% bottom 1px,100% 0,0 100%,0 0}
  25%   {background-position:left 50% top 1px,100% 0,0 100%,0 0}
  37.5% {background-position:right 1px top 1px,100% 0,0 100%,0 0}
  50%   {background-position:right 1px bottom 1px,0 0,100% 100%,0 0}
  62.5% {background-position:right 50% bottom 1px,0 0,100% 100%,0 0}
  75%   {background-position:right 50% top 1px,0 0,100% 100%,0 0}
  87.5% {background-position:left 1px top 1px,0 0,100% 100%,0 0}
  100%  {background-position:left 1px bottom 1px,100% 0,0 100%,0 0}
}

* {
  box-sizing: border-box;
}

body {
  margin: 0px;
  font-family: 'Oswald', sans-serif;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

.FadeToBlack {
  animation-name: FadeToBlack;
  animation-duration: 23s;
  /*animation-delay: 2s;*/
}

@keyframes FadeToBlack { 
  0% {background-color: white;}
  15% {background-color: black;}
  75% {background-color: black;}
  100% {background-color: white;}
}

.red {
  background-color: red;
}
.blue {
  background-color: blue;
}
.green {
  background-color: rgb(0, 221, 0);
}
.yellow {
  background-color: yellow;
}
.pink {
  background-color: rgb(253, 97, 123);
}
.purple {
  background-color: purple;
}
.orange {
  background-color: orange;
}